html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3.6vw;
}


.game-board{
    display: none;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 75vw;
    min-height: 78vw;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 3.6vw;
    border-radius: 1.1vw;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    width: 14.3vw;
    height: 14.3vw;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 0.9vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.6vw 0.24vw 2.4vw 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 3.7vw;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 3.7vw;
}

.deck .card.match-fail {
    cursor: pointer;
    background: #c92525;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 50vw;
    margin-bottom: 1.1vw;
    font-size: 1.8vw;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer {
    float: right;
    margin: 0 1.7vw 0 0;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


/*
 * Styles for the winning modal
 */

.ending-modal {
    display: none;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    color: rgb(107, 107, 107);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}

.ending-modal .congrats-msg {
    margin-bottom: 1.5em;
}

.ending-modal .congrats-msg h1 {
    font-weight: 800;
    font-size: 2em;
    margin-bottom: 0.5em;
}

.ending-modal button.play-again {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    background-color: #30c58c;
    border: none;
    cursor: pointer;
}

.ending-modal button:active {
    background-color: #1f6d4f;
}

.ending-modal button:focus {
    outline: none;
}

/* 
    Style for different screen size 
*/

@media screen and (max-width: 440px) {
    .ending-modal .congrats-msg h1 {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 880px) {
    h1 {
        font-size: 2em;
    }

    .deck {
        width: 660px;
        min-height: 680px;
        padding: 32px;
        border-radius: 10px;
    }

    .deck .card {
        width: 125px;
        height: 125px;
        box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
        border-radius: 8px;
    }

    .deck .card.show {
        font-size: 33px;
    }

    .deck .card.match {
        font-size: 33px;
    }

    .score-panel {
        width: 440px;
        font-size: inherit;
        margin-bottom: 10px;
    }

    .score-panel .timer {
        float: right;
        margin: 0 15px 0 0;
    }
}

